<app-title></app-title>
<nav>
<ul>
    <input [(ngModel)]="newTask.name" (keyup.enter)="add()"><button (click)="add()">Ajouter</button>
    <li *ngFor="let task of tasks; index as i">
        <a (click)="select(task)">{{ task.name }}</a>
        <button aria-label="Supprimer" (click)="delete(i)">❌</button>
    </li>
</ul>
</nav>
<article *ngIf="selectedTask">
    <h1>{{ selectedTask.name }}</h1>
    <dl>
        <dt>Échéance :</dt>
        <dd>{{ selectedTask.deadline?.toLocaleDateString() }}</dd>
        <dt>Description :</dt>
        <dd>{{ selectedTask.description }}</dd>
        <dt>État</dt>
        <dd>{{ selectedTask.state }}</dd>
    </dl>
</article>
