<nav>
<h1>{{ title }}</h1>
<p>Notre premier composant Angular affiche la valeur de sa propriété titre.</p>
<ul>
    <input [(ngModel)]="newTask.name" (keyup.enter)="add()"><button (click)="add()">Ajouter</button>
    <li *ngFor="let task of tasks; index as i">
        {{ task.name }}
        <button aria-label="Supprimer" (click)="delete(i)">❌</button>
    </li>
</ul>
</nav>
<article *ngIf="selectedTask">
    <h1>{{ selectedTask.name }}</h1>
    <dl>
        <dt>Échéance :</dt>
        <dd>{{ selectedTask.deadline?.toLocaleDateString() }}</dd>
        <dt>Description :</dt>
        <dd>{{ selectedTask.description }}</dd>
        <dt>État</dt>
        <dd>{{ selectedTask.state }}</dd>
    </dl>
</article>
