body {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;

    &.btn {
        display: inline-block;
        margin: .5em;
        padding: .5em;
        border-radius: .25em;;
    }
}

.header {
    background-color: #123;
    color: #fed;
}

.debug {
    padding: .5em;
    background-color: #333;
    color: #ccc;
    font-family: monospace;
}

.highlighted {
    border: 1px solid black;
}
